<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <form #taskForm="ngForm" (ngSubmit)="addTask(taskForm)">
                    <input type="hidden" name="id" #id="ngModel" [(ngModel)]="taskService.taskSelected.id">
                    <div class="form-group">
                        <input type="text" name="title" #title="ngModel" [(ngModel)]="taskService.taskSelected.title"  placeholder="Title"
                            class="form-control" autofocus>
                    </div>
                    <div class="form-group">
                        <textarea name="description" #description="ngModel" [(ngModel)]="taskService.taskSelected.description"
                            placeholder="Description" class="form-control"></textarea>
                    </div>
                    <button class="btn btn-primary btn-block">
                        Save
                    </button>

                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <table class="table">
            <thead class="thead-light">
                <th>#</th>
                <th>Title</th>
                <th>Description</th>
                <th>Operations</th>
            </thead>
            <tbody>
                <tr *ngFor="let task of taskService.tasks">
                    <td> {{task.id}} </td>
                    <td> {{task.title}} </td>
                    <td> {{task.description}} </td>
                    <td>
                        <a (click)="putTask(task)" class="btn btn-secondary">
                            Edit
                        </a>
                        <a (click)="removeTask(task.id)" class="btn btn-danger">
                            Delete
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>